@font-face {
  font-family: "D2Coding";
  src: local("D2Coding"),
    url("/Resources/fonts/D2Coding/D2Coding.woff2") format("woff2"),
    url("/Resources/fonts/D2Coding/D2Coding.woff") format("woff"),
    url("/Resources/fonts/D2Coding/D2Coding.ttf") format("truetype"),
    url("/Resources/fonts/D2Coding/D2Coding.eot") format("embedded-opentype");
}
html {
  font-size: 12px;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
}
ul,
li {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  padding: 0;
}

header {
  min-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(33, 33, 33);
}

section {
  background-color: rgb(33, 33, 33);
  flex: 1;
  display: flex;
  flex-direction: row;
}
section nav {
  display: flex;
  flex-direction: row;
}
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
footer {
  min-height: 30px;
  background-color: rgb(33, 33, 33);
}

/* 컬러값 */
.red--bg {
  background-color: rgb(255, 90, 80);
}

.yellow--bg {
  background-color: rgb(230, 190, 40);
}

.green--bg {
  background-color: rgb(80, 190, 40);
}
.gray {
  color: rgb(174, 189, 189);
}

.highlight {
  color: rgb(132, 214, 206);
}

/* 이벤트 */
.active--left {
  border-left: solid rgb(132, 214, 206) 3px;
}
.active--bottom {
  border-bottom: solid rgb(132, 214, 206) 1px;
}

.hidden {
  display: none;
}
