@import url("_common.css");
/* 헤더 */

.header__menu {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
}
header h1 {
  font-size: 1.5rem;
  color: rgb(100, 100, 100);
  flex: 1;
  display: flex;
  justify-content: center;
}

/* 네비게이션 */
nav .nav__section--btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .nav__imgBtn {
  padding: 0;
  margin: 10px 10px;
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__imgBtn img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* 메인 */
.main__tab {
  display: flex;
  flex-direction: row;
  width: 150px;
  font-size: 1.5rem;
  color: #fff;
  padding: 5px 10px;
}
.main__tab figure {
  padding: 0;
  margin: 0;
}
.main__tab figure img {
  width: 20px;
  height: 20px;
}
.main__tab p {
  padding: 0 10px;
  margin: 0;
  flex: 1;
  font-style: italic;
}

.main__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.main__content--wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  color: #fff;
  width: 85%;
  height: 90%;
}
.main__content--itemwrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.main__content--item {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.main__content--innerItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main__content--wrapper h2,
h3,
h4,
h5,
p {
  font-weight: 100;
}
.main__content--wrapper h2 {
  font-size: 3.5rem;
  font-weight: bold;
}

.main__content--wrapper h3 {
  font-size: 2.3rem;
}

.main__content--wrapper h4 {
  font-size: 1.8rem;
}

/* 섹션 내부 아이템 */
.main__content--innerItem h5 {
  font-size: 1.5rem;
}
.main__content--innerItem p {
  font-size: 1.4rem;
}
.main__content--innerItem textarea {
  font-size: 1.4rem;
}
.main__content--innerItem a {
  text-decoration: none;
  color: #fff;
}
.main__content--about h5 {
  margin: 10px 0;
}

.main__content--categoryTitleWrapper {
  display: flex;
  flex-flow: row wrap;
}

.main__content--categoryTitleWrapper h5 {
  margin: 10px 20px 10px 0;
  width: min-content;
  cursor: pointer;
}

.main__content--careerItem {
  padding: 10px 10px;
  margin: 15px 0;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  flex: 1;

  max-height: 80px;
}

.main__content--message {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  margin: 20px 0;
}

.main__content--consoleheader {
  display: flex;
  flex-direction: row;
  padding: 2px 5px;
  border-radius: 5px 5px 0 0;
}

.main__content--consoleheader h1 {
  flex: 1;
  text-align: center;
}

.main__content--consolebody {
  flex: 1;
  border-radius: 0 0 5px 5px;
}
.main__content--consoleline {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 0;
}
.main__content--consoletext {
  padding: 0 5px;
  width: fit-content;
}
.main__content--consoleline textarea {
  padding: 0 10px;
  margin: 0;
  border: none;
  height: fit-content;
  flex: 1;
  resize: none;
}
.main__content--consoleline textarea:focus {
  outline-width: 0;
}

/* 푸터 */
footer {
  justify-content: center;
}
footer figure {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
}
footer figure img {
  width: 20px;
  height: 20px;
}

footer figure figcaption {
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  margin: 0 20px 0 5px;
}
